<h1>Google Places API</h1>
<a href="/g-map?keyword=pizza&latitude=55.84805&longitude=-4.41276&radius=1000">Map VIew</a>


<div class="grid">

         <% var i; %>
<%for (i = 0; i < place.results.length; i++) { %>

                 

        <!--<div class="col-md-4 col-sm-6">-->
        <div class="item">
              <div class="content card mb-4 box-shadow">
                <a href="g-place/<%= place.results[i].place_id %>"> 
                        <img class="card-img-top" height="150" src="https://uploads-ssl.webflow.com/57e5747bd0ac813956df4e96/5aebae14c6d254621d81f826_placeholder.png">
                    <br/>
                <%= place.results[i].name %></a><br/>
                Google ID: <%= place.results[i].place_id %><br/>
                <% if (place.results[i].formatted_address) { %>
                Address: <%= place.results[i].formatted_address %><br/>
                <% } else { %>
                <% if (place.results[i].vicinity){ %>
                Address: <%= place.results[i].vicinity %><br/>
                <% } else {%>
                Address not found
                <% } }%>

                Geo: <%= place.results[i].geometry.location.lat + ", " + place.results[i].geometry.location.lng %><br/>
                <br/>
              </div>
            </div>
    <%// }); %>
<% } %>
<br/>
 <!--<a href="<%= //place.paging.next %>"> next </a>-->
       
    </div>